body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;padding:0
}
a{
    text-decoration: none;
    color: #000000;
}
ul, ol{
    list-style: none;
}
body{
    font-size: 12px;
    font-family:"宋体";
    color: #333;
}

.page{
    width: 1520px;
    height: 1230px;
    background-color:yellow;
    margin: 0 auto;
    box-sizing: border-box;
}

.header{
    width: 1520px;
    height: 210px;
    background-color: #eeeeee;
    box-sizing: border-box;
}
.lingxing{
    /*菱形*/
    display: inline-block;
    font-size: 10px;
    width: 12px;
    height: 12px;
    padding-right: 2px;
}
.header .header-top{
    width: 1520px;
    height: 130px;
    background-color: #eeeeee;
}
.header .header-top div{
    position: absolute;
}
.header .header-top div img{
    position: relative;
}
.header .header-top .header-top-img2 img{
    width:90px;
    margin-left: 120px;
}
.header .header-top .header-top-img3 img{
    width:120px;
    margin-left: 110px;
    margin-top: 95px;
}
.header .header-top .header-top-img4{
    margin-left: 260px;
    margin-top: 30px;
}
.header .header-top .header-top-img4 .header-top-img4-top{
    font-family: "楷体";
    font-size: 40px;
    font-weight:bold;
}
.header .header-top .header-top-img4 .header-top-img4-down{
    font-family: "楷体";
    font-size: 20px;
    font-weight:bold;
}
.header .header-top .header-top-img5 img{
    margin-left:1290px;
    margin-top: 25px;
}

.content{
    width: 1520px;
    height: 1000px;
    background-color:red;
    box-sizing: border-box;
}
.content .content-top{
    width: 1520px;
    height: 800px;
    background-color:orange;
}
.content-top-left{
    width: 220px;
    height: 800px;
    background-color: #ffffff;
    float: left;
}
.content-top-left-communication{
    height: 300px;
    width: 40px;
    background-color:deepskyblue;
    float: left;
    margin-top: 110px;
    margin-left: 15px;
}

.content-top-left-communication p{
    display: inline-block;
    font-family: "宋体";
    text-align: center;
    font-size: 15px;
    width:20px;
    line-height: 19px;
    margin-left:10px;
}
.content-top-left-member{
    width: 140px;
    height: 800px;
    background-color: #ebebeb;
    position: relative;
    float: right;
}
.content-top-left-member li{
    display:inline-block;
    width: 140px;
    height: 40px;
    border-style:solid;
    border-width:1px;
    border-color: #ebebeb rgba(102, 102, 102, 0.3) black rgba(102, 102, 102, 0.3);
}
.content-top-left-member li p{
    /*font-size: 20px;*/
    text-align: center;
    line-height: 40px;
    color: #000;
}
.content-top-left-member li .title{
    font-size:30px;
    font-family: "楷体";
    font-weight: bold;
    color: #000;
    margin-left: 5px;
    line-height: 40px;
}

.content-top-right{
    width: 1300px;
    height: 800px;
    background-color:white;
    float: right;
}
.content-top-right-tab ul{
    width: 1300px;
    height: 40px;
    background-color: #ebebeb;
}

.content-top-right-tab ul li a{
    height: 40px;
    width: 185.3px;
    display:inline-block;
    font-size: 15px;
    line-height:40px;
    text-align: center;
    float: left;
    color:#7ea2ee;
}

.content-top-right-main{
    width: 1300px;
    height: 800px;
    /*background-color:wheat;*/
    box-sizing: border-box;
}
.content-top-right-main .news1{
    width: 790px;
    height: 230px;
    /*background-color: rgba(30, 134, 169, 0.38);*/
    /*float: left;*/
    /*margin-left: 120px;*/
    position: relative;
    border-bottom: 1px solid #000;
}
.content-top-right-main .news1 .news1-p,.news1-li,.news1-button{
    margin-top: 20px;
    position: absolute;
}
.content-top-right-main .news1 h2{
    display: inline-block;
    position: absolute;
    margin-left: 28px;
    font-size: 30px;
    margin-top: 10px;
    font-family: "楷体";
}
.content-top-right-main .news1 .news1-p img{
    margin-left: 15px;
    margin-top: 30px;
}
.content-top-right-main .news1 .news1-li{
    margin-left: 260px;
    margin-top: 45px;
}
.content-top-right-main .news1 .news1-li li a{
    font: 20px "楷体";
    line-height: 22px;
}
.content-top-right-main .news1 .news1-button{
    margin-top: 170px;
    margin-left: 640px;
}
.content-top-right-main .news1 .news1-button img{
    width: 100px;
}

.content-top-right-main .news2{
    width: 790px;
    height: 560px;
    /*background-color: rgba(255, 0, 0, 0.49);*/
    position: relative;
}
.content-top-right-main .news2 h2{
    display: inline-block;
    position: absolute;
    margin-left: 28px;
    font-size: 30px;
    margin-top: 10px;
    font-family: "楷体";
}
.content-top-right-main .news2 ul{
    width: 790px;
    height: 520px;
    /*background-color:yellow;*/
    position: absolute;
    margin-top: 40px;
}
.content-top-right-main .news2 ul li{
    width: 700px;
    height: 100px;
    padding: 10px;
    margin-left: 10px;
}

.content-top-right-main .news2 ul li img{
    float: left;
}
.content-top-right-main .news2 ul li a{
    float: left;
    margin-left:4px;
    margin-top: 3px;
    font-size: 20px;
    font-family: "楷体";
}
.content-top-right-main .news2 .news2-button{
    position: absolute;
    margin-top: 470px;
    margin-left: 640px;
}
.content-top-right-main .news2 .news2-button img{
    width: 100px;
}
.content-top-right-main .news3{
    width: 510px;
    height: 230px;
    /*background-color:plum;*/
    position: relative;
    margin-left: 790px;
    margin-top: -790px;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
}
.content-top-right-main .news3 h2{
    display: inline-block;
    position: absolute;
    margin-left: 8px;
    font-size: 30px;
    margin-top: 8px;
    font-family: "楷体";
}
.content-top-right-main .news3 ul{
    width: 510px;
    height: 120px;
    display: inline-block;
    margin-top: 41px;
}
.content-top-right-main .news3 ul li{
    width: 510px;
    /*height: 20px;*/
    font-size: 18px;
    font-family: "楷体";
}
.content-top-right-main .news3 .news3-button{
    width: 200px;
    height: 100px;
    margin-top: 4px;
    float: right;
    margin-right: -80px;
}
.content-top-right-main .news3 .news3-button img{
    width: 100px;
}

.content-top-right-main .news4{
    width: 510px;
    height: 530px;
    /*background-color:greenyellow;*/
    position: relative;
    margin-left: 790px;
    box-sizing: border-box;
}
.content-top-right-main .news4 h2{
    display: inline-block;
    position: absolute;
    margin-left: 8px;
    font-size: 30px;
    margin-top: 8px;
    font-family: "楷体";
}
.content-top-right-main .news4 ul{
    width: 510px;
    height: 400px;
    display: inline-block;
    margin-top: 21px;
    /*background-color: #fff;*/
}
.content-top-right-main .news4 ul li{
    width: 510px;
    font-size: 18px;
    font-family: "楷体";
}
.content-top-right-main .news4 .news4-button{
    position: absolute;
    margin-top: 10px;
    margin-left: 390px;
}
.content-top-right-main .news4 .news4-button img{
    width: 100px;
}
.content .content-down{
    background-color:pink;
    border: 1px solid #666666;
    width: 1520px;
    height: 200px;
    position: absolute;
    box-sizing: border-box;
}
.content .content-down .bg{
    position: absolute;
    width: 1520px;
    height: 200px;
}

.content .content-down .content-down-p{
    width: 600px;
    height: 100px;
    /*background-color:red;*/
    float: left;
    margin-left: 460px;
    margin-top: 60px;
    position: relative;
}
.content-down-p .p1{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.content-down-p .p2{
    font-size: 20px;
    font-family: "微软雅黑";
    text-align: center;
    font-weight: bold;
}

.content-down-img{
    width: 120px;
    height: 120px;
    margin-top: 10px;
    /*background-color:red;*/
    float: right;
    position: relative;
}
.content-down-img img{
    padding: 1px;
}

.footer{
    width: 1520px;
    height: 20px;
    background-color: #6494ec;
    box-sizing: border-box;
}

.footer .ad{
    float: left;
    color: white;
    font-size: 20px;
}
.footer .dm{
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
