*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
body{
    background-color:yellow;
}
#tab{
    width: 498px;
    height: 120px;
    border: 1px solid #cccccc;
    margin: 100px auto;
    /*overflow: hidden;*/
}
#tab_header{
    background-color: rgba(47, 223, 227, 0.2);
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid orangered;
}
#tab_header ul{
    width: 500px;
    /*display: none;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
}
#tab_header ul li{
    width: 98px;
    float: left;
    /*background-color: red;*/
    text-align: center;
    padding: 0 1px;
    border-bottom: 1px solid #cccccc;
    cursor:pointer;
}
#tab_header ul li.selected{
    background-color: white;
    border-bottom: none;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 0;

}
#tab_header ul li:nth-child(1){
    border-left: none;
}
#tab_header ul li:nth-last-child(1){
    border-right: none;
}
#tab_header ul li:hover{
    font-weight: bolder;
    color: orange;
}

/*内容区域*/
#tab_content{
    opacity:1;
}
#tab_content .dom{
    padding-top: 20px;
    display: none;
}
#tab_content ul li{
    float: left;
    width: 220px;
    text-align: center;
    margin: 5px;
}
#tab_content .dom ul li a:hover{
    color: orangered;
}